@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gray-blue: rgb(163, 165, 174);
    --light-gray: rgb(250, 250, 250);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    border: 2px solid black;
    padding: 1.7rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.9rem;
    margin-bottom: 2rem;
}

.header-heading {
    font-size: clamp(1rem, 2vw, 1rem);
}

.back-btn,
.three-dots-btn {
    background-color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.05rem 0.05rem 0.7rem rgba(141, 141, 141, 0.125), -0.05rem -0.05rem 0.7rem rgba(141, 141, 141, 0.125);
    width: 2.7rem;
    height: 2.7rem;
    padding: 0.1rem;
}

.back-btn img,
.three-dots-btn img {
    width: 1.5rem;
}

.drug-illustration {
    display: flex;
    align-items: center;
    justify-content: center;

}

.drug-illustration img {
    width: 10rem;
    margin-bottom: 2rem;
}

.drug-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}

.drug-info-heading {
    font-size: 1.5rem;
}

.drug-info-text {
    font-size: 0.57rem;
}
